<div class="container-fluid bg-dark footer pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h1 class="fw-bold text-primary mb-4">F<span class="text-secondary">oo</span>dy</h1>
                <p>Genel olarak, dengeli bir diyetin önemli bir parçası olan sebzeler ve meyveler, sağlıklı yaşamı desteklemek için vücudun ihtiyaç duyduğu birçok besin öğesini sağlarlar. Her öğünde ve atıştırmalık olarak tüketilmeleri teşvik edilir.</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Adres</h4>
                <p><i class="fa fa-map-marker-alt me-3"></i>Kadıköy/İstanbul Türkiye </p>
                <p><i class="fa fa-phone-alt me-3"></i>444 66 77</p>
                <p><i class="fa fa-envelope me-3"></i>foody@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Hızlı Linkler</h4>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">Bize Ulaşın</a>
                <a class="btn btn-link" href="">Hizmetlerimiz</a>
                <a class="btn btn-link" href="">Şartlar & Koşullar</a>
                <a class="btn btn-link" href="">Destek</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Bülten</h4>
                <p> Türkiye meyve sebze üretim ve ticaretinde dünyanın önemli ülkeleri arasında yer almaktadır. Tüketicilerin tüketim tercihlerinin belirlenmesi, sektörün tüm paydaşlarına ışık tutacak, karar alıcılara yol gösterici olacaktır.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
</div>
